
/* Réinitialisation des styles par défaut */
body, h1, h2, ul, li, p, form {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #eceaea;
}
header {
    z-index: 1;;
    background-color: #000000;
    color: #fff;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 10px 1px rgb(66, 66, 66)  ;
}
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
header img{
    width: 100px;
    margin: 10px 0px 0px 80px;
}
nav{
    position: relative;
    bottom: 70px;
    font-size: large;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li a.active{
    text-decoration: underline;
} 
nav ul li a:hover{
    text-decoration: underline;
} 
nav li {
    display: inline;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#home{
    height: 84vh;
}
#home .container h2{
    margin-top: 100px;
    margin-left: 200px;
    font-size: 40px;
}
/* Styles de bouton */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Styles des services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service img:hover {
    transform: scale(1.1);
}

/* Styles du formulaire de contact */
form label, form textarea, form input, form button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Styles de pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 6px;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav li {
        margin-right: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

